<!-- <%= render 'shared/sidebar' %> -->

<h1>Bonjour <%= @profile.first_name %> </h1>

<% if current_user.teacher? %>
  <% current_user.subjects.each do |subject| %>
    <h2><%= subject.name %></h2>
    <p><%= subject.rooms.count %> classe(s)</p>
    <% subject.rooms.each do |room| %>
    <!-- Make a card for each room -->
      <h3><%= room.level %></h3>
      <p><%= room.chapters.count %> chapitre(s)</p>
    <% end %>
  <% end %>
<% else %>
  <% current_user.subjects.each do |subject| %>
    <h2><%= subject.name %></h2>
    <p><%= subject.chapters.count %> chapitres(s)</p>
    <% subject.chapters.each do |chapter| %>
    <!-- Make a card for each chapter -->
      <h3><%= chapter.name %></h3>
      <p><%= chapter.missions.count %> mission(s)</p>
    <% end %>
  <% end %>
<% end %>
