<body class="body">
  <div class="row">
    <div class="col-md-2">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-md-10 principal-content">
      <div class="d-flex my-5">
      <h3 class="ml-3 mr-3"><strong>Niveau : </strong><%= @room.level %> </h3>
      <h3 class="ml-3"><strong>Identifiant de la classe : </strong><%= @room.id %> </h3>
      </div>
      <div class="container">
        <% @chapters.each do |chapter| %>
        <h3><%= chapter.name.capitalize %></h3>
        <div class="container d-flex">
          <% chapter.missions.each do |mission| %>
          <div class="r-card d-flex mr-3 mb-5 mt-2">
            <div class="text-center">
              <%= link_to(mission_path(mission)) do %>
              <h4 class="mb-5"><%= mission.name.capitalize %></h4>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>

