<body class="body">
  <div class="row">
    <div class="col-md-2">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-md-10 principal-content">
      <div class="d-flex justify-between my-5">
        <% if current_user.teacher? %>
          <h2 class="mx-3"><strong>Niveau : </strong><%= @room.level %> </h3>
          <h3 class="mx-3"><strong>Identifiant de la classe : </strong><%= @room.id %> </h3>
        <% else %>
          <h2 class="ml-3 mr-3"><strong><%= @room.subject.name %></strong></h3>
        <% end %>
        <% if @room.user == current_user %>
          <div class=" flex flex-col mr-4"> <!-- my-2 -ml-3 mr-4 -->
            <%= link_to new_room_chapter_path(@room) do %>
              <div id="return-top" class= "w-full inline-flex justify-center items-center rounded-md shadow-sm px-3 py-2.5 bg-white text-base font-small text-gray-700 hover:text-pink-800 hover:bg-gray-800 hover:no-underline transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                <svg class="h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
                Nouveau chapitre
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="container">
        <% @chapters.each do |chapter| %>
          <h3><%= chapter.name %></h3>
          <div class="container d-flex">
            <% chapter.missions.each do |mission| %>
            <!-- If teacher, click on FC to go to edit view -->
              <% if current_user.teacher? %>
                <%= link_to mission_path(mission) do %>
                  <div class="r-card d-flex mr-3 mb-5 mt-2">
                    <div class="text-center">
                      <h4 class="mb-5"><%= mission.name %></h4>
                    </div>
                  </div>
                <% end %>
              <% else %>
              <!-- If Student, click on FC to play -->
                <div class="r-card d-flex mr-3 mb-5 mt-2 relative">
                  <% if policy(mission).show? && !current_user.teacher? %>
                    <%= link_to mission_path(mission) do %>
                      <div class="edit-icon absolute top-2 right-2 opacity-60">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#d8dffd">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                      </div>
                    <% end %>
                  <% end %>
                  <%= link_to play_mission_path(mission) do %>
                    <div class="text-center">
                      <h4 class="mb-5 w-full h-full"><%= mission.name %></h4>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>

