
<% @flashcards.each do |flashcard| %>
  <div class="new-flasgcard-form mt-15 sm:mt-10 w-1/2 m-auto">
      <div class="shadow overflow-hidden sm:rounded-md">
        <form action="#" method="">
          <div class="py-3 bg-white sm:p-6">
            <h3 class="mb-3 text-2xl font-medium text-gray-700"><%= @mission.name %></h3>
            <div class="mb-3">
              <label for="first_name" class="block text-lg font-medium text-gray-700">Question :</label>
              <p class="text-lg text-gray-900 subpixel-antialiased font-semibold"><%= flashcard.question %></p>
            </div>

            <label for="first_name" class="block text-lg font-medium text-gray-700">Votre réponse :</label>
            <textarea name="student_answer" id="student_answer" required cols="30" rows="5" class="p-2 bg-gray-100 border-2 border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-blue-900 mt-1 block w-full sm:text-sm rounded-md">
            </textarea>
          </div>
          <div class="px-3 py-2 bg-gray-50 text-right sm:px-3">
             <button type="submit" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
              Voir la réponse
            </button>
          </div>
        </form>
      </div>
  </div>


  <div class="new-flasgcard-form mt-15 sm:mt-10 w-1/2 m-auto">
    <div class="shadow overflow-hidden sm:rounded-md">
      <div class="py-3 bg-white sm:p-6">
        <h3 class="mb-3 text-2xl font-medium text-gray-700"><%= @mission.name %></h3>
        <div class="mb-3">
          <label for="first_name" class="block text-lg font-medium text-gray-700">Question :</label>
          <p class="text-lg text-gray-900 subpixel-antialiased font-semibold"><%= flashcard.question %></p>
        </div>
        <div class="mb-3">
          <label for="first_name" class="block text-lg font-medium text-gray-700">Réponse :</label>
          <p class="text-lg text-gray-900 subpixel-antialiased font-semibold"><%= flashcard.answer %></p>
        </div>

        <div class="hidden sm:block width-98" aria-hidden="true">
          <div class="my-2">
            <div class="border-t border-gray-400"></div>
          </div>
        </div>

        <label for="first_name" class="block text-lg font-medium text-gray-700">Votre réponse :</label>
        <p class="text-lg text-gray-900 subpixel-antialiased font-semibold"><%= params[:student_answer] if params[:student_answer].present? %></p>
      </div>
      <div class="px-3 py-2 bg-gray-50 text-right sm:px-3">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Retourner la carte
        </button>
      </div>
    </div>
    <div class="flex justify-evenly mt-3">
      <button type="button" class="w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
        Je le savais
      </button>
      <button type="button" class="w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
        Je ne le savais pas
      </button>
    </div>
  </div>
<% end %>
