<div class="-mt-7 absolute">
  <%= link_to room_path(@chapter.room) do %>
    <div id="return-top" class= "w-full inline-flex justify-center items-center rounded-md shadow-sm px-3 py-2.5 bg-white text-base font-small text-gray-700 hover:text-pink-800 hover:bg-gray-800 hover:no-underline transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
      <svg class="h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg><%= @chapter.subject.name %>
    </div>
  <% end %>
</div>

<div class="all-flashcards">
  <% @flashcards.each_with_index do |flashcard, index| %>

    <div class="flashcard <%=index == 0 ? 'block' : 'hidden' %>">
      <div class="flashcard-side block sm:mt-10 w-1/2 mx-auto my-1/4">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="py-3 bg-white sm:p-6">
            <h3 class="mb-3 text-2xl font-medium text-gray-700"><%= @mission.name %></h3>
            <div class="mb-3">
              <label for="first_name" class="block text-lg font-medium text-gray-700">Question :</label>
              <p class="text-lg text-gray-900 subpixel-antialiased font-semibold"><%= flashcard.question %></p>
            </div>

            <label for="first_name" class="block text-lg font-medium text-gray-700">Votre réponse :</label>
            <textarea name="student_answer" id="student_answer" cols="30" rows="5" autocomplete="off" class="p-2 bg-gray-100 border-2 border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-blue-900 mt-1 block w-full sm:text-sm rounded-md"></textarea>
          </div>
          <div class="px-3 py-2 bg-gray-50 text-right sm:px-3">
             <button type="button" id ="<%= index == 0 ? 'active' : 'unactive' %>" class="flip-card-front-button w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
              Voir la réponse
            </button>
          </div>
        </div>
      </div>


      <div class="flashcard-side hidden sm:mt-10 w-1/2 mx-auto my-1/4">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="py-3 bg-white sm:p-6">
            <h3 class="mb-3 text-2xl font-medium text-gray-700"><%= @mission.name %></h3>
            <div class="mb-3">
              <label for="first_name" class="block text-lg font-medium text-gray-700">Question :</label>
              <p class="text-lg text-gray-900 subpixel-antialiased font-semibold"><%= flashcard.question %></p>
            </div>
            <div class="mb-1">
              <label for="first_name" class="block text-lg font-medium text-gray-700">Réponse :</label>
              <p class="text-lg text-gray-900 subpixel-antialiased font-semibold"><%= flashcard.answer %></p>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-left sm:p-3">
           <label for="first_name" class="block text-lg font-medium text-gray-700">Votre réponse :</label>
           <p class="insert-answer-here text-lg text-gray-800 subpixel-antialiased font-semibold"></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flex justify-evenly mt-4 w-1/2 mx-auto">
  <button type="button" id="correct" class="hidden w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
    Je le savais
  </button>
  <button type="button" id="incorrect" class="hidden w-full inline-flex justify-center rounded-md shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
    Je ne le savais pas
  </button>
</div>
<div class="flex justify-evenly mt-3 w-1/2 mx-auto">
  <%= link_to room_path(@chapter.room) do %>
    <div id="return" class= "hidden w-full inline-flex justify-center items-center rounded-md shadow-sm px-4 py-3 bg-white text-base font-medium text-gray-700 hover:text-pink-800 hover:bg-gray-800 hover:no-underline transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
      <svg class="h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg><%= "Retour à la page #{@chapter.subject.name}" %>
    </div>
  <% end %>
</div>
